@import "reset.scss";


.body {
    background-color: #161C2E;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    &__second-page {
        position: absolute;
        width: 375px;
        height: 67.97px;
        left: 751px;
        top: 146px;
        background: linear-gradient(180deg, #31394D 0%, #091739 100%);
        border-radius: 20px;
        transform: rotate(-2.32deg);
    }
    &__third-page {
        position: absolute;
        width: 341.86px;
        height: 85.23px;
        left: 753px;
        top: 135px;
        background: linear-gradient(180deg, #4F5565 0%, #000000 53.65%);
        border-radius: 20px;
        transform: rotate(-4.48deg);
        z-index: -1;
    }
    &__footer { 
        margin-top: 31px;
    }
    &__main-page {
        position: relative;
    }
}

.container {
    max-width: 420px;
    margin: 162px auto;
}

.main-page {
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 20px 0 40px 0;
    background-color: #252E42;
    padding: 30px 25px 0 30px;
    height: 490px;
    width: 350px;
    box-shadow: 0px 14px 34px rgba(0, 0, 0, 0.25);
    &::-webkit-scrollbar {
        width: 4px;
      }
    &::-webkit-scrollbar-thumb {
        background-color: #FF8469;
        border-radius: 10px;
    }
    &__heading {
        font-size: 28px;
        font-weight: 600;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__list {
        position: relative;
        margin-top: 20px;
        &::before {
            content: '';
            width: 1000px;
            height: 90px;
            position: absolute;
            top: 460px;
            right: -480px;
            background: linear-gradient(180deg, #252E42 35.38%, rgba(37, 46, 66, 0) 66.15%);
            transform: rotate(90deg);
        }
    }
    &__checkbox {
        width: 35px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            background-color: #4F5565;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 6px;
        }
        &-icon--active {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            width: 20px;
            height: 20px;
            border-radius: 6px;
            background-color: #FF8469;
            font-size: 10px;
        }
        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0;
        }
    }
    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: 18px;
        &:hover {
            cursor: pointer;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        max-width: 280px;
    }
    &__title {
        font-size: 16px;
        line-height: 20px;
        &:hover {
            cursor: pointer;
            color:#FF8469;
        }
    }
    &__title--crossed {
        text-decoration: line-through;
        color: #4F5565;
    }
    &__subtitle {
        margin-top: 3px;
        font-size: 13px;
        line-height: 15px;
        color: #4F5565;
        white-space: nowrap;
    }
}


@media screen and (max-width: 1280px) {
    .body__second-page {
        left: 430px;
    }
    .body__third-page {
        left: 435px;
    }
}

@media screen and (max-width: 1024px) {
    .body__second-page {
        left: 305px;
    }
    .body__third-page {
        left: 310px;
    }
}

@media screen and (max-width: 540px) {
    .body__second-page {
        left: 60px;
    }
    .body__third-page {
        left: 65px;
    }
}

@media screen and (max-width: 912px) {
    .body__second-page {
        left: 250px;
    }
    .body__third-page {
        left: 255px;
    }
}

@media screen and (max-width: 820px) {
    .body__second-page {
        left: 100px;
    }
    .body__third-page {
        left: 210px;
    }
}

@media screen and (max-width: 768px) {
    .body__second-page {
        left: 175px;
    }
    .body__third-page {
        left: 180px;
    }
}

@media screen and (max-width: 820px) {
    .body__second-page {
        left: 0px;
    }
    .body__third-page {
        left: 0px;
    }
}

@media screen and (max-width: 412px) {
    .body__second-page {
        left: 0px;
    }
    .body__third-page {
        left: 0px;
    }
}

.button {
    background-color: #FF8469;
    border: none;
    border-radius: 7px;
    color: white;
    width: 54px;
    &:hover {
        cursor: pointer;
    }
}

.footer {
    color: #414B62;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}